# Ignore compiled binaries
/target/

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
/secrets

# Ignore dependency directories
Cargo.lock

# Ignore environment file (if using dotenv)
.env

# Ignore Mac specific files
.DS_Store

#output
src/wheeltrans/output