<!DOCTYPE html>
<html>
<head>
    <title>CSV Upload</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" hx-post="/upload" hx-target="#download-link" hx-swap="outerHTML" hx-indicator="#loadingIndicator">
        <p> Upload Transport list CSV files </p>
        <input type="file" name="file1" required>
        <p>Upload signup list CSV files</p>
        <input type="file" name="file2" required>
        <button type="submit">Upload</button>
    </form>
    <div id="loadingIndicator" style="display: none;">Uploading...</div>
    <div id="download-link"></div>
</body>
</html>
